header{
	background-image: url(images/ss.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px; 


}

h1{
	text-shadow: 2px 2px #A480CD;
	text-align: center;
}

h5{
	text-shadow: 2px 2px #A480CD;
}


nav{
	background-color: #A480CD;
}

nav .row .col:hover{
	background-color: #DB95B7;
}

.pro{
	hight: 800px;
	width: 300px;
}


p{
	text-align: center;
	font-weight: bold;
	text-shadow: #705341;
}

.TheReason{
	text-align: center;
	padding: 25%

}

 .eye{
	text-align: center;
	background-color: #A480CD;
	text-shadow: #DB95B7;
}

{
	background-color: pink;
}

 hr {
 	border-width: 20px;
 	text-align: center;
 	background-color: #A480CD;
 }

 .about {
 	background-color: #A480CD;
 }


 .color {
 	background-color: #A480CD;
 	align-items: center;
 }
 {
 	align-items: center;
 }


div{
	align: center;
}



.address{ 
	display: block;
	font-style: italic;

}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.no{
	background-color: #DB95B7;
}

.no1{
	background-color: #DB95B7;
}

.no2{
	background-color: #DB95B7;
}

.container-fluid{
	background-color: #DB95B7;
}

.img{
	border-image: rounded; 
}

.section .id .contact{
	background-color: #DB95B7;
}

.contact{
	background-color: #A480CD;
}

